<style>
    .proportion{
        display: none;
        width: 1vmax;
    }

</style>
<div id="data" style="display: none">
    {{result}}
</div>
<tr>
    <!--<th >Delta(D will be added or subtracted from the userchoices )</th>-->
    <!--<p></p>-->
    <!--<td>-->
        <!--<input type="text" name="delta" id="delta" placeholder="">-->

    <!--</td>-->

</tr>
<p style="font-weight: bold">Settings Now</p>

<div>
    <p>Total: 48 polygons</p>
    <p id="now_deltalist">Max, Mudding:</p>
    <p id="now_proportion">Proportions of shapes:</p>
    <p id="now_userchoices">User Choices:</p>
    <!--<p id="now_degree">Degree tilted possible value:</p>-->
    <!--<p id="now_roundtime">Roundtime:</p>-->
    <p id="now_size">Shape Counts[small,normal,big]: </p>

</div>
<table>

    <tr>
        <th>Choose polygons</th>
        <!--<th>Count</th>-->
        <th>Polygons displayed </th>

        <th>User choices</th>
        <!--<th>  Delta (sum to 0, will be randomly distributed to shapes)</th>-->


    </tr>
    <tr>
        <td>square</td>
        <td>
            <input type="checkbox" name="square" id="square" class="choice">
            <input type="text" name="proportion_square" id="proportion_square" class="proportion">
            <label for="cb1"><i class="toggle"></i></label>


        </td>
        <td>
            <input type="checkbox" name="square_c" id="square_c" class="userchoice">

        </td>
        <!--<td> <input type="text" name="delta1" id="delta1" class="delta"></td>-->
    </tr>
    <tr>
        <td>pentagon</td>
        <td>
            <input type="checkbox" name="pentagon" id="pentagon" class="choice">
            <input type="text" name="proportion_pentagon" id="proportion_pentagon" class="proportion">
            <label for="cb1"><i class="toggle"></i></label>


        </td>
        <td>
            <input type="checkbox" name="pentagon_c" id="pentagon_c" class="userchoice">

        </td>
        <!--<td> <input type="text" name="delta1" id="delta1" class="delta"></td>-->
    </tr>
    <tr>
        <td>hexagon</td>
        <td>
            <input type="checkbox" name="hexagon" id="hexagon" class="choice">
            <input type="text" name="proportion_hexagon" id="proportion_hexagon" class="proportion">

            <label for="cb2"><i class="toggle"></i></label>

        </td>
        <td>
            <input type="checkbox" name="hexagon_c" id="hexagon_c" class="userchoice">

        </td>
        <!--<td> <input type="text" name="delta2" id="delta2" class="delta"></td>-->

    </tr>
    <tr>
        <td>heptagon</td>
        <td>
            <input type="checkbox" name="heptagon" id="heptagon" class="choice">
            <input type="text" name="proportion_heptagon" id="proportion_heptagon" class="proportion">

            <label for="cb3"><i class="toggle"></i></label>

        </td>
        <td>
            <input type="checkbox" name="heptagon_c" id="heptagon_c" class="userchoice">

        </td>
        <!--<td> <input type="text" name="delta3" id="delta3" class="delta"></td>-->

    </tr>
    <tr>
        <td>octagon</td>
        <td>
            <input type="checkbox" name="octagon" id="octagon" class="choice">
            <input type="text" name="proportion_" id="proportion_octagon" class="proportion">

            <label for="cb3"><i class="toggle"></i></label>

        </td>
        <td>
            <input type="checkbox" name="octagon_c" id="octagon_c" class="userchoice">

        </td>
        <!--<td> <input type="text" name="delta4" id="delta4" class="delta"></td>-->

    </tr>
    <tr>
        <td>nonagon</td>
        <td>
            <input type="checkbox" name="nonagon" id="nonagon" class="choice">
            <input type="text" name="proportion_nonagon" id="proportion_nonagon" class="proportion">

            <label for="cb3"><i class="toggle"></i></label>

        </td>
        <td>
            <input type="checkbox" name="nonagon_c" id="nonagon_c" class="userchoice">

        </td>
        <!--<td> <input type="text" name="delta5" id="delta5" class="delta"></td>-->

    </tr>

    <tr>
        <td>decagon</td>
        <td>
            <input type="checkbox" name="decagon" id="decagon" class="choice">
            <input type="text" name="proportion_decagon" id="proportion_decagon" class="proportion">

            <label for="cb3"><i class="toggle"></i></label>

        </td>
        <td>
            <input type="checkbox" name="decagon_c" id="decagon_c" class="userchoice">

        </td>
        <!--<td> <input type="text" name="delta6" id="delta6" class="delta"></td>-->

    </tr>
    <tr>
        <td>hendecagon</td>
        <td>
            <input type="checkbox" name="hendecagon" id="hendecagon" class="choice">
            <input type="text" name="proportion_hendecagon" id="proportion_hendecagon" class="proportion">

            <label for="cb3"><i class="toggle"></i></label>

        </td>
        <td>
            <input type="checkbox" name="hendecagon_c" id="hendecagon_c" class="userchoice">

        </td>
        <!--<td> <input type="text" name="delta6" id="delta6" class="delta"></td>-->

    </tr>
    <br>
    <tr>
        <td>max</td>

        <td> <input type="text" name="delta6" id="max1" class="delta"></td>
        <td id="max">less than:</td>
    </tr>
    <br>
    <tr>
        <td>mudding</td>

        <td> <input type="text" name="delta6" id="mudding1" class="delta"></td>
        <td id="mudding">less than:</td>

    </tr>
    <br>

</table>
<p>
<tr>
    <p><th>Shape size: </th>
    <td>
        Small<input type="text" name="size_s" id="size_s" placeholder="">%
    </td>
<td>
    Normal<input type="text" name="size_n" id="size_n" placeholder="">%
</td> <td>
    Big<input type="text" name="size_b" id="size_b" placeholder="">%
</td>
<!--<button onclick="document.querySelector('#size').value = '80'">small</button>-->
<!--<button onclick="document.querySelector('#size').value = '100'">normal</button>-->
<!--<button onclick="document.querySelector('#size').value = '120'">big</button>-->
</p>
</tr>
</p>
<!--<tr>-->
    <!--<th>Degree tilted possible value</th>-->
    <!--<td>-->
        <!--<input style="width: 5%" class="degree" type="text" name="degree1" id="degree1" placeholder="">-->
        <!--<input style="width: 5%" class="degree" type="text" name="degree2" id="degree2" placeholder="">-->
        <!--<input style="width: 5%" class="degree" type="text" name="degree3" id="degree3" placeholder="">-->
        <!--<input style="width: 5%" class="degree" type="text" name="degree4" id="degree4" placeholder="">-->

    <!--</td>-->

<!--</tr>-->
<p></p>

<!--<tr>-->
    <!--<th>Roundtime(s)</th>-->
    <!--<td>-->
        <!--<input type="text" name="roundtime" id="roundtime" placeholder="">-->

    <!--</td>-->

<!--</tr>-->

<!--<p></p>-->

<button id="submit">Submit</button>
<br>
<br>
<br>
<button id="devare">Clean Data</button>


<script>
    var N = 48;//total shapes
    var data = (document.querySelector('#data')).innerHTML;
    var start = data.indexOf('data');
    console.log((data.slice(start+7,-14)));
    var data1 = JSON.parse((data.slice(start+7,-14)));

    data1.userchoices.forEach(x=>{
        document.querySelector('#now_userchoices').innerHTML+=' '+x.slice(0,-2)+":"+data1.proportion[x.slice(0,-2)];
    })

    document.querySelector('#now_proportion').innerHTML+=JSON.stringify(data1.proportion);
//    document.querySelector('#now_degree').innerHTML+=data1.degree;
    document.querySelector('#now_deltalist').innerHTML+=data1.deltalist;
    document.querySelector('#now_size').innerHTML+=[data1.size['small'],data1.size['normal'],data1.size['big']];
    console.log(data1);
    function no_dup(uniqueArray) {
        return uniqueArray.filter(function(item, pos) {
            return uniqueArray.indexOf(item) == pos;
        })
    }
    var deltalist_temp = document.querySelectorAll('.delta');
    //deltalist = (deltalist.filter(x=>{ x.innerHTML!=""})).map(x=>{return x.innerHTML});
    var choicelist = document.querySelectorAll('.choice');
    var userchoicelist = document.querySelectorAll('.userchoice');
    document.querySelector('#devare').addEventListener('click',function () {
        var req= new XMLHttpRequest();
        req.open('POST', '/delete', true);
        req.setRequestHeader("Content-type", "application/x-www-form-urlencoded; charset=UTF-8");
        req.send("a=b");
    })
    setInterval(function () {
        var cl1=[],us1=[];
        choicelist.forEach(x=>{
            if(x.checked){
                cl1.push(x.id);
            }
        })
        cl1.forEach(x=>{

            var shape = document.querySelector("#proportion_"+x);
            if(shape){
                shape.value = parseInt(N/cl1.length);
            }
        })
        userchoicelist.forEach(x=>{
            if(x.checked){
                us1.push(x.id);
                document.getElementById((x.id).slice(0,-2)).checked = true;
            }
        })
        //console.log(cl1.length,us1.length)
        var max,mud;
        var maxinput = document.querySelector('#max1').value;
        max = parseInt(N*(cl1.length-us1.length)/cl1.length);
        mud = parseInt(((N*(cl1.length-us1.length)/cl1.length)-parseInt(maxinput))/us1.length);
        var mx = document.querySelector('#max');
        var md = document.querySelector('#mudding');

        mx.innerHTML = "less than:"+max;
        md.innerHTML = 'less than:'+mud;
    },100);
    document.querySelector('#submit').addEventListener('click',function (t) {

        var choicelist1 = [],shapes={}, proportion = {},proportion_sum = 0, userchoices = [];
//        var degree_temp = document.querySelectorAll('.degree');
        //var degree = [degree_temp[0].value,degree_temp[1].value,degree_temp[2].value,degree_temp[3].value];
//        var degree = [Math.floor(Math.random() * 360),Math.floor(Math.random() * 360),Math.floor(Math.random() * 360),Math.floor(Math.random() * 360)];
//        if(degree.indexOf('')!=-1){
//            alert('Please populate all tilt values. Repetition is allowed');
//        }
        //var roundtime = document.querySelector('#roundtime').value;
        //var delta = document.querySelector('#delta').value;
        var size = {"small":document.querySelector('#size_s').value,"normal":document.querySelector('#size_n').value,"big":document.querySelector('#size_b').value};
        var size_sum = parseInt(document.querySelector('#size_s').value) + parseInt(document.querySelector('#size_n').value) + parseInt(document.querySelector('#size_b').value);
        //if(delta==""){
        //    alert('Fill the Delta Value')
        //}
        t.preventDefault();
        choicelist.forEach(x=>{
            if(x.checked){
                choicelist1.push(x.id);
                proportion[x.id] = document.querySelector('#proportion_'+x.id).value;
                proportion_sum+=parseInt(document.querySelector('#proportion_'+x.id).value);
                console.log(x.id,":",proportion[x.id])
            }
        })

        var deltalist = [];
        deltalist_temp.forEach(x=> {
            if(x.value != "")deltalist.push(x.value);
                }
        )
        //console.log(deltalist);

        userchoicelist.forEach(x=>{
            if(x.checked){
                userchoices.push(x.id);
            }
        })
        choicelist1 = no_dup(choicelist1);
        shapes['choicelist'] = choicelist1;
        shapes['proportion'] = proportion;
//        shapes['degree'] = degree;
        //shapes['roundtime'] = roundtime;
        shapes['userchoices'] = userchoices;
        //shapes['delta'] = delta;
        shapes['size'] = size;
        shapes['deltalist'] = deltalist;



        console.log(shapes);
        if((proportion_sum!=N)){
            alert("48 should be divided by n(left row i.e. number of shapes presented)")
        }
        if((size_sum==100)&&(deltalist[0]!=null)&&(deltalist[1]!=null)&&(proportion_sum==N)&&(userchoices.length!=0)){
            var req= new XMLHttpRequest();
            req.open('POST', '/admininfo', true);
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded; charset=UTF-8");
            req.send("shapes="+JSON.stringify(shapes));
        }else {
            alert("Please review your input. Fill all the fields; sizes added to 100, with 2 or more user choices");
        }






    })

</script>